{% load static %}
<html>
  <head>
    <h1> VYoGa</h1>
    <button   id="practice" class="b">Back</button>
    <script type="text/javascript">
      document.getElementById("practice").onclick = function () {
          location.href = "{% url 'practice' %}";
      };
      </script>
    <link rel="stylesheet" href="{% static 'practicepose.css' %}">
  </head>
  <body>
  <div class="cont">
      <img src="{% url 'goddessView' %}">
      <img src="{% static 'goddess.jpg' %}">
    </div>    
  </body>
</html>